apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: three-tier
  labels:
    role: api
    env: demo
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      nodeSelector:
        role: backend
      imagePullSecrets:
        - name: ecr-registry-secret
      containers:
        - name: api
          image: 688372068524.dkr.ecr.ap-south-1.amazonaws.com/capstone/backend-img:backend-efaa69c
          imagePullPolicy: Always
          env:
            # MongoDB Replica Set connection string
            - name: MONGO_CONN_STR
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: connectionString

            # Mongo credentials
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
